*.inp
*.csv
*.png
*.pdf
Simon_Original_Code
Counts_Info
Fit_Spectrum
/BEHR/behr_hug.pro
/BEHR/behr_test.*
/BEHR/colbehr.pro
/Hardness_Ratios/hardness_ratio_old_Mod.py
/Hardness_Ratios/extracted_counts_info
/Hardness_Ratios/Old_Outputs
/Specextract/extracted_spectra
/Specextract/extracted_spectra_old/
/Specextract/extracted_spectra_Test/
Specextract/Error_Testing/
Test_IDL_Code
Run
Run_Old
Flux_Calc/Source_Fluxes
Flux_Calc/Source_Fluxes_Test/
BEHR/._hipd_interval.pro
BEHR/BEHR_Source_Code/
BEHR/hipd_interval.pro
/Simple_Flux_Calc/
.oldgit
